@{
    ViewData["Title"] = "Home Page";
}
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">

<div id='app-root'>Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
